<% if (title) { %>
  <h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<div class="login-container">
  <form action="/account/login" method="post">
    <label for="account_email">Email:</label>
    <input type="email" name="account_email" id="account_email" required>

    <label for="account_password">Password:</label>
    <input type="password" name="account_password" id="account_password" required>
    <button type="button" id="psswdBtn" class="toggle-password">Show Password</button>

    <button type="submit">Login</button>
  </form>
  
  <p>No account? <a href="/account/register">Sign up</a></p>
</div>

<script>
  const psswdBtn = document.querySelector("#psswdBtn");
  psswdBtn.addEventListener("click", function() {
    const psswdInput = document.getElementById("account_password");
    const type = psswdInput.getAttribute("type");
    if (type === "password") {
      psswdInput.setAttribute("type", "text");
      psswdBtn.textContent = "Hide Password";
    } else {
      psswdInput.setAttribute("type", "password");
      psswdBtn.textContent = "Show Password";
    }
  });
</script>