<% if (title) { %>
  <h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<div class="login-container">
  <form action="/account/login" method="post">
    <label for="account_email">Email:</label>
    <input type="email" name="account_email" id="account_email" required>

    <label for="account_password">Password:</label>
    <input type="password" name="account_password" id="account_password" required>

    <button type="submit">Login</button>
  </form>
  
  <p>No account? <a href="/account/registration">Sign up</a></p>
</div>

