<h2><%= title %></h2>

<%- messages() %>

<div class="management-links">
  <a href="/inv/add-classification" class="btn">Add New Classification</a>
  <a href="/inv/add-inventory" class="btn">Add New Vehicle</a>
</div>